@model UserInfoViewModel

@{
	ViewData["Title"] = "Only Admin";
}

<h2>Only Admin</h2>

<table>
	<thead>
		<tr>
			<th>Claim Type</th>
			<th>Claim Value</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.UserInfoDic)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Key)</td>
				<td>@Html.DisplayFor(modelItem =>item.Value)</td>
			</tr>
		}
	</tbody>
</table>